<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_HOME"
              value="C:\\Users\\ajapal\\Desktop\\Micro-services\\Logs" ></property>



    <!-- ===================================================================================================== -->
    <!-- CONSOLE -->
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
            by default -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35}- %msg %n
            </pattern>
        </encoder>
    </appender>
    <!-- ===================================================================================================== -->
    <!-- APPLICATION -->
    <appender name="APPLICATION"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/gateway.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_HOME}/gateway.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35}- %msg %n
            </pattern>
        </encoder>
    </appender>
    <!-- ===================================================================================================== -->




    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>


    <logger
            name="com.microservice.training.photoappapiusers"
            level="debug">
        <appender-ref ref="APPLICATION" />
    </logger>


</configuration>